<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Meet the founders</h2>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <%= link_to 'https://www.linkedin.com/in/mariandumitru-developer/', target: :blank do %>
          <%= image_tag "https://scontent.fotp3-3.fna.fbcdn.net/v/t39.30808-6/329469510_853587439047931_6134302245791455395_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=8u527tpjIbQAX_Xfo25&_nc_oc=AQl5PBalhK6pijrtS698A2Qc4mmbrjrlU7W9KM-UwHAicBWok6o-XyugSLIaRMShVzc&_nc_ht=scontent.fotp3-3.fna&oh=00_AfDzuQWGUDKERdhqScjcOOEfo2MU2FsZufBJF-iv9h6UAQ&oe=643EADEE", class: "w-72 h-80 rounded-lg sm:rounded-none sm:rounded-l-lg" %>
        <% end %>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Marian Dumitru
          </h3>
          <span class="text-gray-500 dark:text-gray-400">Chief Executive Officer & Co-Founder</span>
        </div>
      </div>
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <%= link_to 'https://www.linkedin.com/in/cosmin-codrea-b3626649/', target: :blank do %>
          <%= image_tag "https://scontent.fotp3-2.fna.fbcdn.net/v/t1.6435-9/73417725_3036925003003203_5550546395951267840_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=o_XevSqZYv4AX-Qe89h&_nc_ht=scontent.fotp3-2.fna&oh=00_AfBtGUpOmgdPzYqTO1y8mbH0zJK-jbXRExApUXssJKBnfw&oe=6460A009", class: "w-72 h-80 rounded-lg sm:rounded-none sm:rounded-l-lg" %>
        <% end %>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Cosmin Codrea
          </h3>
          <span class="text-gray-500 dark:text-gray-400">Chief Product Officer & Co-founder</span>
        </div>
      </div>
    </div>
  </div>
</section>
