<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Meet the founders</h2>
    </div>
    <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <%= image_tag "marian_2.jpeg", class: "w-64 h-64 rounded-lg sm:rounded-none sm:rounded-l-lg" %>
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Marian Dumitru
          </h3>
          <span class="text-gray-500 dark:text-gray-400">Chief Executive Officer & Co-Founder</span>
        </div>
      </div>
      <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <%= image_tag "cosmin.jpeg", class: "w-80 h-80 rounded-lg sm:rounded-none sm:rounded-l-lg" %>
        </a>
        <div class="p-5">
          <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            Cosmin Codrea
          </h3>
          <span class="text-gray-500 dark:text-gray-400">Chief Product Officer & Co-founder</span>
        </div>
      </div>
    </div>
  </div>
</section>
